:root{
    --primary:#FA7436;
    --secdonary:rgb(235, 234, 234);
    --border:rgb(92, 92, 92);
    --text_primary:black;
    --white:white;
    --things:#F7F8FC;
    --places:#FEFCFB;
    --star_color:rgb(255, 204, 0);
    --bg_rating_color:#FFE7DB;
    --grey:grey;
    --light_grey:rgb(165, 165, 165);
}
html,body{
    margin:0px;
    padding:0px;
    font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.flex{
    display:flex;
}

.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}

.justify_space{
    justify-content: space-between;
}
.justify_evenly{
    justify-content: space-evenly;
}
.justify_around{
    justify-content: space-around;
}

.home{
    width:100%;
    height: 770px;    
    background-color: var(--places);
.intro{
    margin-bottom: 50px;
.links_container{
    ul{
        list-style-type: none;
        .link{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
                color: var(--primary);
            }
        }
    }
}


.title{
    p{
        font-weight: bold;
        font-size: 20px;
    }
}
.btn_primary_login{
    color:var(--primary);
    border: none;
    background-color: var(--places);
}
.btn_primary_signup{
    color:var(--secdonary);
    border: none;
    background-color: var(--primary);
    border-radius: 3px;
    padding:10px 35px;
    cursor: pointer;
    box-sizing: border-box;
    
}
}

.info{
    justify-content: space-evenly;
    padding-left: 70px;
    .content_area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        p{
            font-size: 17px;
            margin-bottom: 30px;
            color: var(--border);
        }
        h1{
            font-size: 50px;
        }
        button{
            border: 1px solid var(--primary);
            padding: 10px 35px;
            box-sizing: border-box;
            background-color: var(--places);
            color:var(--primary);
            cursor: pointer;
           margin-right: 230px;
        }
    }
    img{
        width:630px;
        
    }
    margin-bottom: 50px;
}

.details_container{
    column-gap: 111px;
    border: 1px solid var(--grey);
    width: 60%;
    margin: 20px auto;
    padding: 25px 20px;
    box-sizing: border-box;
    background-color:var(--white);
    border-radius: 10px;
    .details_items{
        flex-direction: column;
        row-gap: 10px;
        .details{
            i{
                font-size: 20px;
                color: var(--primary);
            }
            p{
                font-weight: bold;
                font-size: 20px;
                color:var(--text_primary);
            }
        }
        p{
            font-size: 15px;
            color: var(--border);
        }
    }
    button{
        background-color: var(--primary);
        color: var(--secdonary);
        border: none;
        padding: 15px 25px;
        box-sizing: border-box;
        border-radius: 3px;
    }
}
}

.things{
    width:100%;
    height: 550px;
    background-color: var(--things);
    .to_do{
        flex-direction: column;
        align-items: center;
        h3{
            margin-top: 60px;
            font-size: 38px;
            margin-bottom: 15px;
        }
        p{
            text-align: center;
            color: var(--border);
            margin-bottom: 50px;
            font-size: 15px;
        }
    }
    .signup{
        width: 270px;
        height: 190px;
        background-color: var(--white);
        padding: 35px;
    }
    img{
        margin-bottom: 35px;
    }
    h4{
        margin-bottom: 20px;
        font-size: 20px;
    }
    p{
        color: var(--border);
    }
    .heading{
        padding-left: 150px;
        gap:50px;
    .flight{
        img{
            width:150px;
            margin-top: 70px;
        }
    }
}
}

.places{
    width: 100%;
    height: 100vh;
    background-color:var(--places);
    .place_cont{
        flex-direction: column;
        align-items: center;
    }
    h3{
        font-size: 38px;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        text-align: center;
        color: var(--border);
        margin-bottom: 45px;
    }
    .place{
        width:270px;
        height: 400px;
        background-color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--light_grey);
        img{
            width: 100%;
            height: 70%;
        }
        .location_cont{
            width:100%;
            height: 30%;
            .cont1{
                margin-top: 15px;
                justify-content: space-between;
                padding:0px 15px;
                box-sizing: border-box;
                height: 15%;
                .locat{
                    font-weight: bold;
                    font-size: 20px;
                    color: var(--text_primary);
                }
            .ratings{
                gap:5px;
                i{
                    color: var(--star_color);
                    font-size: 15px;
                    margin-top:3px;
                }
                p{
                lig--light_greyor: var(--grey);
                }
            }
        }
            .cont2{
                margin-top: 26px;
                padding:0px 15px;
                box-sizing: border-box;
                .icon{
                    i{
                        font-size: 13px;
                        color: var(--grey);
                        margin-top: 3px;
                    }
                }
                .discount{
                    .prize_1{
                        text-decoration:line-through;
                        color: var(--grey);
                    }
                    .prize_2{
                        border-radius: 5px;
                        background-color: var(--bg_rating_color);
                        color: var(--primary);
                        padding:2px;
                        box-sizing: border-box;
                    }
                    .prize_3{
                        text-decoration:line-through;
                        color: var(--border);
                    }
                }
            }
        }
    }
    .place1{
        width:270px;
        height: 400px;
        background-color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--light_grey);
        position: relative;
        img{
            width: 100%;
            height: 70%;
            
        }
        button{
            background-color: var(--primary);
            color: var(--white);
            padding: 13px 20px;
            outline: none;
            border: none;
            border-radius: 5px;
           position: absolute;
           left:90px;
           top:190px;
        }
        .location_cont{
            width:100%;
            height: 30%;
            .cont1{
                margin-top: 15px;
                justify-content: space-between;
                padding:0px 15px;
                box-sizing: border-box;
                height: 15%;
                .locat{
                    font-weight: bold;
                    font-size: 20px;
                    color: var(--text_primary);
                }
            .ratings{
                gap:5px;
                i{
                    color: var(--star_color);
                    font-size: 15px;
                    margin-top:3px;
                }
                p{
                    color: var(--grey);
                }
            }
        }
            .cont2{
                margin-top: 26px;
                padding:0px 15px;
                box-sizing: border-box;
                .icon{
                    i{
                        font-size: 13px;
                        color: var(--grey);
                        margin-top: 3px;
                    }
                }
                .discount{
                    .prize_1{
                        text-decoration:line-through;
                        color: var(--grey);
                    }
                    .prize_2{
                        border-radius: 5px;
                        background-color: var(--bg_rating_color);
                        color: var(--primary);
                        padding:2px;
                        box-sizing: border-box;
                    }
                    .prize_3{
                        text-decoration:line-through;
                        color: var(--border);
                    }
                }
            }
        }
    }
    .buttons{
        gap:22px;
        margin-top: 50px;
        .button1{
            border-radius: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid var(--light_grey);
            i{
                color: var(--light_grey);
            }
        }
        .button2{
            border-radius: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid transparent;
            background-color: var(--primary);
            i{
                color: var(--white);
            }
        }
    }
}

.plans{
    width: 100%;
    height: 100vh;
    background-color:var(--places);
    .header{
        img{
            width:100px;
        }
        margin-left: 100px;
    }
    .place_cont{
        flex-direction: column;
        align-items: center;
    }
    h3{
        font-size: 38px;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        text-align: center;
        color: var(--border);
        margin-bottom: 20px;
    }
    .place{
        width:270px;
        height: 370px;
        background-color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--light_grey);
        .rome{
            border-radius: 5px;
        }
        img{
            width: 100%;
            height: 70%;
        }
        .location_cont{
            width:100%;
            height: 30%;
            .cont1{
                margin-top: 15px;
                justify-content: space-between;
                padding:0px 15px;
                box-sizing: border-box;
                height: 15%;
                .locat{
                    font-weight: bold;
                    font-size: 20px;
                    color: var(--text_primary);
                }
                .prize{
                    color: var(--primary);
                    font-size: 20px;
                    font-weight: bold;
                }
        }
            .cont2{
                margin-top: 26px;
                padding:0px 15px;
                box-sizing: border-box;
                .icon{
                    i{
                        font-size: 13px;
                        color: var(--primary);
                        margin-top: 3px;
                    }
                }
                .ratings{
                gap:5px;
                i{
                    color: var(--star_color);
                    font-size: 15px;
                    margin-top:3px;
                }
                p{
                    color: var(--grey);
                }
            }
            }
        }
    }
    .buttons{
        gap:22px;
        margin-left: 780px;
        margin-bottom: 20px;
        .button1{
            border-radius: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid var(--light_grey);
            i{
                color: var(--light_grey);
            }
        }
        .button2{
            border-radius: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid transparent;
            background-color: var(--primary);
            i{
                color: var(--white);
            }
        }
    }
}
.about{
    width: 100%;
    height: 450px;
    padding: 100px 250px;
    box-sizing: border-box;
    background-color: var(--things);
    position: relative;
    .feedback_cont{
        column-gap: 120px;
    .content{
        flex-direction: column;
        row-gap: 25px;
        .p1{
            font-size: 35px;
            font-weight: bold;
        }
        .p2{
            color: var(--grey);
            font-size: 15px;
        }
    .buttons{
        gap:26px;
        .button1{
            border-radius: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid var(--light_grey);
            i{
                color: var(--light_grey);
            }
        }
        .button2{
            border-radius: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid transparent;
            background-color: var(--primary);
            i{
                color: var(--white);
            }
        }
    }
}
.feedback{
    width: 500px;
    height: 200px;
    margin-top: 30px;
    background-color: var(--white);
    padding: 30px 35px;
    box-sizing: border-box;
    border: 1px solid var(--light_grey);
    border-radius: 10px;
}
    }
    .person{
        position: absolute;
        border-radius: 50%;
        top:100px;
        right: 740px;
        width: 60px;
    }
    img{
        position: absolute;
        right:120px;
        top:30px;
        width: 150px;
    }
}

.blog{
    width: 100%;
    height: 100vh;
    background-color:var(--places);
    .place_cont{
        flex-direction: column;
        align-items: center;
    }
    h3{
        font-size: 38px;
        margin-top: 90px;
        margin-bottom: 40px;
    }
    .place{
        width:270px;
        height: 400px;
        background-color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--light_grey);
        img{
            width: 100%;
            height: 70%;
            margin-bottom: 20px;
        }
        .location_cont{
            width:100%;
            height: 30%;
            padding-left: 6px;
            .p_1{
                font-weight: bold;
            }
            .p_2{
                color: var(--grey);
                font-size: 14px;
            }
        }
    }
    .dots{
        margin-top:40px;
        column-gap: 5px;
        .dot1{
            font-size: 7px;
            color: var(--light_grey);
        }
        .dot2{
            font-size: 10px;
            color: var(--primary);
        }
    }
}

.footer{
    width: 100%;
    height: 100vh;
    background-color:var(--things);
    .foot_cont{
        flex-direction: column;
        
        .subscribe{
            position: relative;
            width: 1000px;
            height: 350px;
            border-radius: 15px;
            margin-top: 15px;
            margin-bottom: 30px;
            background-color: var(--primary);
            .tree2{
                float: right;
                width: 85px;
            }
            .content{
                font-weight: bold;
                color: var(--white);
                font-size: 40px;
                text-align: center;
                margin-top: 60px;
                margin-bottom: 55px;
                padding-left: 140px;
                box-sizing: border-box;
            }
                .circle{
                    position: absolute;
                    top:50px;
                    right: 595px;
                    width:400px;
                }
            .input{
                width: 570px;
                height: 55px;
                background-color: var(--white);
                margin: 40px 190px 0 auto;
                box-sizing: border-box;
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 10px;
                box-sizing: border-box;
                .input_field{
                    column-gap: 5px;
                    i{
                        color: var(--light_grey);
                    }
                .text{
                    color: var(--light_grey);
                }
            }
                button{
                    padding: 10px 18px;
                    border-radius: 10px;
                    background-color: var(--primary);
                    border: none;
                    color: var(--white);
                }
            }
        }
        .follow{
            column-gap: 310px;
            margin-top: 30px;
            margin-bottom: 20px;
            .f_cont{
                flex-direction: column;
                row-gap: 20px;
                .title{
                    p{
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
                .cont{
                    color: var(--light_grey);
                }
                .icon_btns{
                    column-gap: 10px;
                .ft{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-top: 5px;
                    border: none;
                }
                .insta{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-bottom: 40px;
                    border: none;
                    background-color: var(--primary);
                    i{
                        color: var(--white);
                    }
                }
               }
            }
            .details{
                column-gap: 80px;
                .terms{
                    flex-direction: column;
                    row-gap: 10px;
                    .headings{
                        margin-bottom: 15px;
                        font-weight: bold;
                        color: var(--text_primary);
                    }
                    p{
                        color: var(--light_grey);
                    }
                }
            }
        }
        .line{
            width:990px;
            border-bottom: 1px solid var(--light_grey);
            margin-bottom: 40px;
        }
        .copy_term{
            p{
                color: var(--light_grey);
                font-size: 13px;
            }
            column-gap: 600px;
        }
    }
}